<div class="container mx-auto">
  <h1>Editar Usuario</h1>

  <div>
    <%= render "form", user: @user %>
  </div>  
  <div>
    <%= link_to "Mostrar", @user %> |
    <%= link_to "Volver", users_path %>
  </div>
</div>