<p style="color: green"><%= notice %></p>
<div class="container mx-auto">
  <h1>Usuarios</h1>
  <%= link_to "Nuevo Usuario", new_user_path %>

  <table id="users" class="table">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Perfil</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Acciones</th>

      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </tbody>
  </table>

</div>